<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户列表</title>
    <link rel="stylesheet" th:href="@{/common/layui/css/layui.css}" media="all"/>
    <script type="text/javascript" th:src="@{/common/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/js/context_path.js}"></script>
</head>
<body>
<div class="top-tool">
    <button class="layui-btn btn_extend" type="button" id="add">
        <i class="layui-icon">&#xe608;</i> 添加用户
    </button>
    <div class="layui-form-item layui-input-inline">
        <label class="layui-form-label">用户名：</label>
        <div class="layui-input-inline">
            <input type="text" name="username" id="username" placeholder="请输入用户名" autocomplete="off" class="layui-input" />
        </div>
    </div>
    <button class="layui-btn btn_extend" data-type="reload" id="search-button">
        <i class="layui-icon">&#xe615;</i> 搜索
    </button>
</div>

<script type="text/html" id="barUser">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<table id="table-user" lay-filter="table-user"></table>

<script type="text/javascript" th:src="@{/js/user.js}"></script>
</body>
</html>